.filter-form {
  padding-bottom: 4px;
  margin-bottom: 4px;

  .semi-col {
    .semi-form-field {
      .semi-form-field-main {
        > div {
          width: 100% !important;
        }
      }
    }
  }
}
