LOGGER_DIR=./logs

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=my-framework
DB_USERNAME=root
DB_PASSWORD=root

JWT_SECRET=123456

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PORT=6379
REDIS_PREFIX=mf